{% extends "base.html" %}

{% block head %}
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
{% if theme %}
<link rel="stylesheet" href="/static/color-schemes/{{ theme }}.css" />
{% else %}
<link rel="stylesheet" href="/static/color-schemes/light.css" media="(prefers-color-scheme: light)" />
<link rel="stylesheet" href="/static/color-schemes/dark.css" media="(prefers-color-scheme: dark)" />
{% endif %}
<style>
* {
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold; 
  background-color: var(--nav-bg-color);
  color: var(--nav-fg-color);
}

a { color: var(--main-link-color); }

section { border: 1px solid blue; }
</style>
{% endblock head %}

{% block header %}
<header>
<h1><a href="{% url 'htmx:incidents' %}"><span>Logo</span> Argus: {{ page_title }}</a></h1>
<div><a href="{% url 'htmx:timeslot-placeholder' %}">Timeslots</a></div>
<div><a href="{% url 'htmx:notificationprofile-placeholder' %}">Profiles</a></div>
<div>{% block userlink %}
Theme: "{{ theme }}"
{% if request.user.is_authenticated %}
{{ request.user }}
<form action="{% url "htmx:logout" %}" method="POST">
{% csrf_token %}
<button>Log out</button>
</form>
{% else %}
<a href="{% url 'htmx:login' %}">Log in</a>
{% endif %}
{% endblock %}</div>
</header>
{% endblock header %}
