{% extends "htmx/base.html" %}
{% load widget_tweaks %}
{% block main %}
  <div class="p-6 flex flex-col items-center gap-2">
    <div class="card border border-primary p-2 w-full sm:w-96 flex items-center">
      <h2 class="card-title">Log In</h2>
      <section class="card-body">
        {% if "local" in backends %}
          <form method="post"
                class="flex flex-col gap-6"
                action="{{ backends.local.url }}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">{{ backends.local.display_name }}</button>
          </form>
        {% endif %}
        {% if backends.external %}
          <h3>Login with</h3>
          {% for backend in backends.external %}
            <a class="btn btn-primary" href="{{ backend.url }}">{{ backend.display_name }}</a>
          {% endfor %}
        {% endif %}
      </section>
      <div class="w-full flex justify-start mt-2">
        <button type="button"
                class="btn btn-ghost text-s font-normal px-2 py-1 rounded opacity-70 hover:opacity-100 transition flex items-center gap-1"
                onclick="navigator.clipboard.writeText('{{ version }}')">
          <span>Argus version:</span>
          <span class="truncate">{{ version }}</span>
          <i class="fa-solid fa-copy"></i>
        </button>
      </div>
    </div>
    <div class="w-full sm:w-96">
      {% for message in messages %}
        <div class="alert border-2 {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}
{% comment %} disable default toast messages {% endcomment %}
{% block messages %}
{% endblock messages %}
