{% load widget_tweaks %}
{{ errors }}
{% if errors and not fields %}
  <div>
    {% for field in hidden_fields %}{{ field }}{% endfor %}
  </div>
{% endif %}
<div class="flex items-start justify-start gap-2 w-full flex-wrap">
  {% for field, errors in fields %}
    <div {% with classes=field.css_classes %}
         {% if classes %}class="{{ classes }}"{% elif field.name != "active" %}class="basis-1/5 shrink-0 grow-0"{% endif %}
         {% endwith %}>
      {% if field.name == "name" or field.name == "timeslot" %}
        {% include "htmx/forms/input_field.html" with label=field.label max_width="md" field=field %}
      {% elif field.name == "active" %}
        {% include "htmx/forms/input_field.html" with label=field.label field=field input_classes="checkbox border-b border-1" %}
      {% else %}
        <div class="form-control">
          <label class="label label-text" for={{ field.auto_id }}><em>{{ field.label }}</em>
          </label>
          {% if field.help_text %}<div class="helptext">{{ field.help_text }}</div>{% endif %}
          {{ errors }}
          {% render_field field %}
        </div>
      {% endif %}
      {% if forloop.last %}
        {% for field in hidden_fields %}{{ field }}{% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
