<section style="border: 2px dotted blue"
         class="card-body"
>
  <h2 class="card-title">{{ object.name|default:object.timeslot.name }}</h2>
  <div>
    <p>Active? {{ object.active }}</p>
    <p>Timeslot: {{ object.timeslot }}</p>
    <p>
      Filters:
      {% for filter_obj in object.filters.all %}{{ filter_obj }}{% endfor %}
    </p>
    <p>
      Destinations:
      {% for destination in object.destinations.all %}{{ destination }}{% endfor %}
    </p>
    {% include "./_notificationprofile_buttons.html" %}
  </div>
</section>
