<section class="card-body flex flex-row">
  <form id="{{ form.id }}"
        method="post"
        action="{{ form.action }}"
        class="flex flex-row gap-4">
    {% csrf_token %}
    {{ form.as_div }}
  </form>
  <div class="card-actions justify-end">
    <input class="btn btn-primary"
           type="submit"
           form="{{ form.id }}"
           value="Save">
    {% if form.instance.pk %}
      {% include form.modal.template_name with modal=form.modal %}
    {% endif %}
  </div>
</section>
