{% extends "htmx/base.html" %}
{% block main %}
  <div class="flex justify-center p-4">
    <div class="max-w-4xl w-full">
      <h1 class="text-center text-3xl font-semibold mt-3 mb-4">Notification preferences</h1>
      <div class="flex justify-between items-center mb-4">
        {% include "htmx/notifications/_tabs.html" %}
        {% block tab_action %}
        {% endblock tab_action %}
      </div>
      {% block profile_main %}
      {% endblock profile_main %}
    </div>
  </div>
{% endblock main %}
