{% extends "htmx/base.html" %}
{% block main %}
  <p>
    <a class="btn btn-primary"
       href="{% url "htmx:notificationprofile-create" %}">Create</a>
  </p>
  {% for object in object_list %}
    <div>
      {% include "./_notificationprofile_detail.html" %}
      <p>
        <a class="btn btn-primary"
           href="{% url "htmx:notificationprofile-detail" pk=object.pk %}">View</a>
      </p>
      <p>
        <a class="btn btn-primary"
           href="{% url "htmx:notificationprofile-update" pk=object.pk %}">Update</a>
      </p>
      <p>
        <a class="btn btn-primary"
           href="{% url "htmx:notificationprofile-delete" pk=object.pk %}">Delete</a>
      </p>
    </div>
  {% endfor %}
{% endblock main %}
