{% extends "./base.html" %}
{% block tab_action %}
  <button hx-get="{% url 'htmx:notificationprofile-create' %}"
          hx-target="#notificationprofile-create"
          hx-swap="outerHTML"
          _="on click if #no-profiles-message remove #no-profiles-message"
          class="btn btn-primary">New profile</button>
{% endblock tab_action %}
{% block profile_main %}
  <div>
    <div id="notificationprofile-create"></div>
    {% for profile in object_list %}
      {% include "./_notificationprofile_card.html" %}
    {% empty %}
      <p id="no-profiles-message" class="text-center text-base-content/60">No profiles yet</p>
    {% endfor %}
  </div>
{% endblock profile_main %}
