# canonical

Alexander Staff <alexamst@stud.ntnu.no>
Andreas Melzer <akrimelzer@gmail.com>
Dabble <ddabble@users.noreply.github.com>
Hanne Moa <hanne.moa@sikt.no>
Ilona Podliashanyk <ilona.podliashanyk@sikt.no>
Johanna England <johanna.england@sikt.no>
Jørgen Bele Reinfjell <jorgen.bele@gmail.com>
Karoline Bonnerud <kbonnerud@gmail.com>
Kat Hößel <kathoe@uninett.no>
Morten Brekkevold <morten.brekkevold@sikt.no>
Pelle Koster <elfjes@users.noreply.github.com>
Simon Oliver Tveit <simon.tveit@sikt.no>
Theodor Astrup Wiik <theo.aw@hotmail.com>
dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
jorund1 <jorund@washbear.eu>

# rewrites
Alexander Staff <alexamst@stud.ntnu.no> <34887403+Tralphium@users.noreply.github.com>
Dabble <ddabble@users.noreply.github.com> Anders <6058745+ddabble@users.noreply.github.com>
Hanne Moa <hanne.moa@sikt.no> <hanne.moa@uninett.no>
Hanne Moa <hanne.moa@sikt.no> <hmpf@users.noreply.github.com>
Ilona Podliashanyk <ilona.podliashanyk@sikt.no> podliashanyk <60876078+podliashanyk@users.noreply.github.com>
Jørgen Bele Reinfjell <jorgen.bele@gmail.com> Jørgen Bele <jorgenbele@users.noreply.github.com>
Kat Hößel <kathoe@uninett.no> Kat Hoessel <6429934+katsel@users.noreply.github.com>
Kat Hößel <kathoe@uninett.no> Katharina <6429934+katsel@users.noreply.github.com>
Morten Brekkevold <morten.brekkevold@sikt.no> <100995+lunkwill42@users.noreply.github.com>
Morten Brekkevold <morten.brekkevold@sikt.no> <morten.brekkevold@uninett.no>
Pelle Koster <pelle.koster@geant.org> PelleK <elfjes@users.noreply.github.com>
Simon Oliver Tveit <simon.tveit@sikt.no> <simtve@uninett.no>
Simon Oliver Tveit <simon.tveit@sikt.no> stveit <31960753+stveit@users.noreply.github.com>
Theodor Astrup Wiik <theo.aw@hotmail.com> <37546994+Tjedor@users.noreply.github.com>
Theodor Astrup Wiik <theo.aw@hotmail.com> Tjedor <theo.aw@hotmail.com>
