version: '3.5'

x-api: &argus-service
  build: .
  depends_on:
    - postgres
  environment:
    - TIME_ZONE=Europe/Oslo
    - DJANGO_SETTINGS_MODULE=argus.site.settings.dockerdev
    - DATABASE_URL=postgresql://argus:HahF9araeKoo@postgres/argus
  volumes:
    - ${PWD}:/argus
  restart: always

services:
  argus:
    <<: *argus-service
    ports:
      - "8000:8000"

  dbqueue:
    <<: *argus-service
    command: /cmd-dbqueue.sh

  postgres:
    image: "postgres:15"
    volumes:
      - postgres:/var/lib/postgresql/data:Z
    restart: always
    environment:
      - POSTGRES_USER=argus
      - POSTGRES_PASSWORD=HahF9araeKoo
      - POSTGRES_DB=argus


volumes:
  postgres:
    driver: local
