version: '3.5'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    environment:
      - TIME_ZONE=Europe/Oslo
      - DJANGO_SETTINGS_MODULE=argus.site.settings.dockerdev
      - DATABASE_URL=postgresql://argus:HahF9araeKoo@postgres/argus
      - ARGUS_REDIS_SERVER=redis
    volumes:
      - ${PWD}:/argus
    restart: always


  postgres:
    image: "postgres:12"
    volumes:
      - postgres:/var/lib/postgresql/data:Z
    restart: always
    environment:
      - POSTGRES_USER=argus
      - POSTGRES_PASSWORD=HahF9araeKoo
      - POSTGRES_DB=argus


  redis:
    image: "redis:latest"
    restart: always


volumes:
  postgres:
    driver: local
