<div class="dropdown dropdown-bottom"
     {% block field_control %}
     id="dropdown-{{ widget.attrs.id }}"
     hx-trigger="change from:(find #{{ widget.attrs.id }})"
     hx-swap="outerHTML"
     hx-target="find .show-selected-box"
     hx-select="#dropdown-{{ widget.attrs.id }} .show-selected-box"
     hx-get="{{ widget.partial_get }}"
     hx-include="find #{{ widget.attrs.id }}"
     {% endblock field_control %}>
  <div tabindex="0"
       role="button"
       class="show-selected-box {{ widget.attrs.field_styles|default:"input input-primary input-bordered input-sm h-auto max-w-xs" }} overflow-y-auto min-h-8 max-h-16 leading-tight flex flex-wrap items-center gap-0.5">
    {% if not widget.has_selected %}<p class="text-base-content/50">{{ widget.attrs.placeholder }}</p>{% endif %}
    {% for _, options, _ in widget.optgroups %}
      {% for option in options %}
        {% if option.selected %}
          {% block show_selected %}
            <p class="text-primary font-medium">
              <em>{{ option.label }}</em>,
            </p>
          {% endblock show_selected %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div tabindex="0"
       class="dropdown-content bg-base-100 rounded-box z-[1] min-w-fit w-full max-h-80 overflow-y-auto p-2 mt-0.5 shadow">
    {% block field_template %}
      {% include "django/forms/widgets/multiple_input.html" %}
    {% endblock field_template %}
  </div>
</div>
