{% load widget_tweaks %}
<div class="{{ wrapper_classes|default:"form-control w-full" }} max-w-{{ max_width|default:"xs" }}">
  <label class="label"
         {% if field %}for="{{ field.auto_id }}"{% else %}for=""{{ id|default:"id_"|add:name }}""{% endif %}>
    <span class="label-text"><em>{{ label }}</em></span>
  </label>
  {% block input_rendering %}
    <div class="indicator w-full">
      {% if is_required %}
        <span class="indicator-item indicator-top indicator-end badge border-none mask mask-circle text-warning text-base">＊</span>
      {% endif %}
      {% if field %}
        {% with classes=input_classes|default:"input input-bordered border-b w-full" %}
          {% render_field field class+=classes %}
        {% endwith %}
      {% else %}
        <input id="{{ id|default:"id_"|add:name }}"
               name="{{ name }}"
               type="{{ type|default:"" }}"
               placeholder="{{ placeholder|default:"" }}"
               value="{{ value|default:"" }}"
               {% if is_required %}required{% endif %}
               autocomplete="off"
               class="{{ input_classes|default:"input input-bordered border-b w-full" }}" />
      {% endif %}
    </div>
  {% endblock input_rendering %}
  {% if help_text or errors %}
    <label class="label">
      {% if help_text %}<span class="label-text-alt">{{ help_text }}</span>{% endif %}
      {% for error in errors %}<span class="label-text-alt text-error">{{ error }}</span>{% endfor %}
    </label>
  {% endif %}
</div>
