<!DOCTYPE html>
{% load static %}
<html lang="en-US" data-theme="{{ preferences.argus_htmx.theme }}">
  <!-- argus/site/templates/base.html -->
  <head>
    <meta name="description"
          content="Argus is a tool for aggregating events from multiple monitoring applications into a single, unified dashboard and notification system.">
    <meta name="keywords"
          content="monitoring, notifications, dashboard, events, incidents, alerts, alarms, monitoring systems, monitoring applications, monitoring tools, monitoring software">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>Argus Server: {{ page_title }}</title>
    {% endblock title %}
    <script src="{% static htmx_path %}"></script>
    <script src="{% static hyperscript_path %}"></script>
    <link rel="stylesheet" href="{% static stylesheet_path %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    {% block head %}
    {% endblock head %}
  </head>
  <body {% block body_overrides %}
        class="override bg-base-100"
        {% endblock body_overrides %}>
    {% block header %}
      <h1>Argus Server: {{ page_title }}</h1>
    {% endblock header %}
    {% if banner_message %}
      {# djlint:off H021 #}
      <div class="relative isolate flex justify-center gap-x-4 overflow-hidden bg-red-700 px-4 py-1.5">
        <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
             aria-hidden="true">
          <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-red-100 to-red-950 opacity-30"
               style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
          </div>
        </div>
        <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
             aria-hidden="true">
          <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-red-100 to-red-950 opacity-30"
               style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
          </div>
        </div>
        <p class="text-sm leading-6 text-white">
          <strong>{{ banner_message }}</strong>
        </p>
      </div>
      {# djlint:on H021 #}
    {% endif %}
    <main class="space-y-2 p-1">
      {% block main %}
      {% endblock main %}
    </main>
    {% block footer %}
    {% endblock footer %}
    {% block tail %}
    {% endblock tail %}
    {% block messages %}
      {% include "messages/_notification_messages.html" %}
    {% endblock messages %}
  </body>
</html>
