<span class="p-4"></span>
<span class="badge text-nowrap bg-severity-primary-1 border-severity-primary-1 text-severity-secondary-1">1</span>
<span class="badge text-nowrap bg-severity-primary-2 border-severity-primary-2 text-severity-secondary-2">2</span>
<span class="badge text-nowrap bg-severity-primary-3 border-severity-primary-3 text-severity-secondary-3">3</span>
<span class="badge text-nowrap bg-severity-primary-4 border-severity-primary-4 text-severity-secondary-4">4</span>
<span class="badge text-nowrap bg-severity-primary-5 border-severity-primary-5 text-severity-secondary-5">5</span>
<span class="alert alert-error">error</span>
<span class="alert alert-info">info</span>
<span class="alert alert-warning">warning</span>
<span class="alert alert-success">success</span>
