/* use color-mix to give the illusion of transparency while not actually being transparent */
.alert.info {
  border-color: var(--color-info);
  background-color: color-mix(in srgb, var(--color-info), var(--color-base-100) 85%);
}
.alert.success {
  border-color: var(--color-success);
  background-color: color-mix(in srgb, var(--color-success), var(--color-base-100) 85%);
}
.alert.warning {
  border-color: var(--color-warning);
  background-color: color-mix(in srgb, var(--color-warning), var(--color-base-100) 85%);
}
.alert.error {
  border-color: var(--color-error);
  background-color: color-mix(in srgb, var(--color-error), var(--color-base-100) 85%);
}
.alert.autoclosing {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
