@layer components {
  /*
   * Example usage:
   * <div class="loading-box">
   *   <!-- Any content tag here -->
   *   <div class="htmx-indicator">
   *     <!-- Any optional feedback widget here -->
   *   </div>
   * </div>
   */
  .loading-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    min-height: 0;
  }
  .loading-box > * {
    flex-shrink: 0;
  }
  /* Adds overlay */
  .loading-box:has(> .htmx-indicator.htmx-request) > *:not(.htmx-indicator) {
    opacity: 0.5;
  }
  /* Disables mouse interactions */
  .loading-box:has(> .htmx-indicator.htmx-request) * {
    pointer-events: none;
    user-select: none;
  }
}
