@layer components {
    .choices {
        @apply dropdown max-w-sm self-center;
    }
    .choices__button {
        text-indent: -9999px;
        appearance: none;
        border: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer
    }
    .choices__button:focus {
        outline: 0
    }
    .choices[data-type*=select-multiple] .choices__button {
        position: relative;
        display: inline-block;
        margin: 0 -4px 0 4px;
        padding-left: 8px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
        background-size: 8px;
        width: 8px;
        height: 8px;
        line-height: 1;
        opacity: .75;
        border-radius: 0
    }

    .choices[data-type*=select-multiple] .choices__button:focus, .choices[data-type*=select-multiple] .choices__button:hover {
        opacity: 1
    }

    .choices__inner .choices__item--selectable {
        @apply badge badge-primary text-xs;
    }

    .choices__input--cloned {
        display: inline-block;
        font-size: 14px;
        border: 0;
        border-radius: 0;
        max-width: 100%;
        padding: 4px 0 4px 2px;
        line-height: normal;
    }

    .choices__inner {
        @apply w-full break-words input input-primary input-sm inline-block overflow-hidden space-x-1 h-auto;
    }

    .choices-list-items {
        @apply inline space-x-0.5;
    }

    .choices__list {
        @apply flex space-x-0.5 items-center;
    }

    .choices-dropdown {
        @apply dropdown-content dropdown-bottom menu z-50 bg-base-100 rounded-btn shadow min-w-full;
    }

    .choices-dropdown .choices__list[role="listbox"] {
        display: flex;
        flex-direction: column;
    }

    .choices-dropdown .choices__item {
        @apply py-1 px-2 rounded;
    }

    .choices-dropdown .choices__item--selectable {
        @apply hover:cursor-pointer hover:bg-base-200;
    }
}
