{% extends "htmx/base.html" %}

{% block main %}
    <section id="user-settings">
        <h2>{{ page_title }}</h2>

        <ul class="menu menu-md dropdown-content bg-base-200 text-base-content rounded-box mt-3 w-auto p-2">
            <li class="menu-title">
                Logged in as: <span class="text-info">{{ request.user }}</span>
                <div class="divider divider-secondary my-0"></div>
            </li>
            <li>
                {% include 'htmx/themes/theme_dropdown.html' %}
            </li>
            <li>
                {% include 'htmx/dateformat/_dateformat_dropdown.html' %}
            </li>
        </ul>

    </section>
{% endblock main %}
