<select class="select select-xs bg-transparent text-base border-none -ml-2 incident-list-param"
        name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}
        hx-get="{% url 'htmx:incident-list' %}"
        hx-trigger="change"
        hx-target="#table"
        hx-swap="outerHTML"
        hx-push-url="true"
        hx-include=".incident-list-param"
        hx-indicator="#incident-list .htmx-indicator">
  {% for group_name, group_choices, group_index in widget.optgroups %}
    {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
      {% for option in group_choices %}
        {% include option.template_name with widget=option %}
      {% endfor %}
      {% if group_name %}</optgroup>{% endif %}
  {% endfor %}
</select>
