<!DOCTYPE html>{% load static %}
<html lang="en-US">
<!-- argus/site/templates/base.html -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Argus Server: {{ page_title }}</title>{% endblock %}
  {% block head %}
  {% endblock head %}
</head>
<body {% block body_overrides %}{% endblock %}>
  {% block header %}
  <h1>Argus Server: {{ page_title }}</h1>
  {% endblock header %}

  {% block main %}
  {% endblock main %}

  {% block footer %}
  {% endblock footer %}

  {% block tail %}{% endblock tail %}
</body>
</html>
