<form action="{% url 'htmx:destination-list' %}" method="post">
  {% csrf_token %}
  <fieldset class="p-2 border rounded-box border-primary items-center gap-4 flex items-end">
    <legend class="menu-title">Create destination</legend>
    {% for field in create_form %}
      <label class="form-control max-w-xs mb-auto">
        <div class="label">
          <span class="label-text">{{ field.label }}</span>
        </div>
        {% if field.name == "media" %}
          {{ field }}
        {% else %}
          <div class="input input-bordered flex items-center gap-2">{{ field }}</div>
        {% endif %}
        <div class="label">
          <span class="label-text-alt min-h-4">
            {% if field.errors %}<p class="text-error">{{ field.errors }}</p>{% endif %}
          </span>
        </div>
      </label>
    {% empty %}
      <p>Something went wrong</p>
    {% endfor %}
    <input type="submit" value="Create" class="btn btn-primary">
  </fieldset>
</form>
