{% with update=label_form.instance.pk %}
  {% csrf_token %}
  <fieldset class="p-2 border rounded-box border{% if not update %}-primary{% endif %} items-center gap-4 flex flex-col items-end justify-center">
    {% if not label_form.instance.pk %}<legend class="menu-title">Create destination</legend>{% endif %}
    {% include "./_non_field_form_errors.html" %}
    <div class="items-center gap-4 flex flex-row items-end justify-center">
      {% include "./_form_fields.html" %}
      {% if update %}
        <input type="submit" value="Update" class="btn btn-primary">
      {% else %}
        <input type="submit" value="Create" class="btn btn-primary">
      {% endif %}
    </div>
  </fieldset>
{% endwith %}
