<div class="join join-horizontal items-center">
  {% include "htmx/incident/_filter_select.html" %}
  {% include "htmx/incident/_filter_create_modal.html" with dialog_id="create-filter-dialog" button_title="Create filter" button_class="btn-sm text-xs join-item" header="Create new filter" explanation="Create new filter from currently selected filter parameters" cancel_text="Cancel" submit_text="Submit" %}
  {% include "htmx/incident/_filter_update_dropdown.html" %}
  {% include "htmx/incident/_filter_delete_dropdown.html" %}
</div>
