<div class="dropdown">
  <div tabindex="0"
       role="button"
       class="btn btn-sm text-xs join-item !rounded-l-none ml-1"
       hx-trigger="click"
       hx-get="{% url 'htmx:existing-filters' %}"
       hx-target="#update-filter-items"
       hx-swap="innerHTML">Update filter</div>
  <ul id="update-filter-items"
      tabindex="0"
      class="dropdown-content menu menu-vertical flex-nowrap bg-base-100 rounded-box z-10 p-2 shadow-lg max-h-80 overflow-y-auto overflow-x-hidden">
    {% include "htmx/incident/_existing_filters.html" %}
  </ul>
</div>
