{% load widget_tweaks %}
<form id="incident-filter-box"
      class="incident-list-param"
      hx-get="{% url 'htmx:incident-list' %}"
      hx-include=".incident-list-param"
      {% block filter_trigger_control %}
      hx-trigger="keydown[keyCode==13], change delay:100ms, load once"
      {% endblock filter_trigger_control %}
      hx-target="#table"
      hx-swap="outerHTML"
      hx-push-url="true"
      hx-indicator="#incident-list .htmx-indicator"
      onkeydown="if (event.keyCode === 13) event.preventDefault();">
  <fieldset {% block filter_select_custom_control %}
            hx-on:change="htmx.ajax('GET', '{% url 'htmx:select-filter' %}');"
            {% endblock filter_select_custom_control %}>
    <legend class="sr-only">Filter incidents</legend>
    <ul class="menu menu-horizontal menu-xs flex items-center gap-0.5 py-0">
      {% for field in filter_form %}
        {% if not field.field.in_header %}
          <li class="form-control">
            {% if field.name == "sourceSystemIds" or field.name == "tags" %}
              <div class="flex flex-nowrap">
                <label class="label">
                  <span class="label-text">{{ field.label }}</span>
                </label>
                {{ field }}
              </div>
            {% elif field.name == "open" %}
              <label class="cursor-pointer label">
                <span class="label-text">{{ field.label }}</span>
                <div class="pt-4">
                  {{ field|add_class:"range range-primary range-xs" }}
                  <div class="flex w-full justify-between gap-2 text-xs">
                    <span>Open</span>
                    <span>Both</span>
                    <span>Closed</span>
                  </div>
                </div>
              </label>
            {% elif field.name == "acked" %}
              <label class="cursor-pointer label">
                <span class="label-text">{{ field.label }}</span>
                <div class="pt-4">
                  {{ field|add_class:"range range-primary range-xs" }}
                  <div class="flex w-full justify-between gap-2 text-xs">
                    <span>Acked</span>
                    <span>Both</span>
                    <span>Unacked</span>
                  </div>
                </div>
              </label>
            {% else %}
              <label class="cursor-pointer label">
                <span class="label-text">{{ field.label }}</span>
                {% if field|field_type == "booleanfield" %}
                  {{ field|add_class:"checkbox checkbox-primary" }}
                {% elif field.name == "maxlevel" %}
                  <div class="pt-4">
                    {{ field|add_class:"range range-primary range-xs" }}
                    <div class="flex w-full justify-around gap-2 text-xs">
                      {% for tick in "12345" %}<span>{{ tick }}</span>{% endfor %}
                    </div>
                  </div>
                {% elif field|field_type == "choicefield" %}
                  {{ field|add_class:"select select-primary" }}
                {% elif field|field_type == "multiplechoicefield" %}
                  {{ field|attr:"size:1"|add_class:"select select-primary" }}
                {% elif field|field_type == "charfield" %}
                  {{ field|add_class:"input input-primary input-bordered" }}
                {% endif %}
              </label>
            {% endif %}
          </li>
        {% endif %}
      {% empty %}
        <li>No filter fields configured</li>
      {% endfor %}
    </ul>
  </fieldset>
</form>
