{% load argus_htmx %}
<div id="table-refresh-info">
  <dl class="stats stats-horizontal leading-none overflow-x-auto font-medium bg-base-100">
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">Total, all time</dt>
      <dd class="stat-value text-base font-medium">
        {{ count }}
      </dd>
    </div>
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">After filtering</dt>
      <dd class="stat-value text-base font-medium">
        {{ filtered_count }}
      </dd>
    </div>
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">Per page</dt>
      <dd class="stat-value text-base font-medium">
        <select class="select select-xs bg-transparent text-base border-none -ml-2 incident-list-param"
                name="page_size"
                hx-get="{% url 'htmx:incident-list' %}"
                hx-trigger="change"
                hx-target="#table"
                hx-swap="outerHTML"
                hx-push-url="true"
                hx-include=".incident-list-param"
                hx-indicator="#incident-list .htmx-indicator">
          {% for ps in preferences_choices.argus_htmx.page_size %}
            <option value="{{ ps }}"
                    {% if ps == preferences.argus_htmx.page_size %}selected{% endif %}>{{ ps }}</option>
          {% endfor %}
        </select>
      </dd>
    </div>
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">Last refreshed</dt>
      <dd class="stat-value text-base font-medium">
        {{ last_refreshed|date:preferences.argus_htmx.datetime_format|default:"?" }}
      </dd>
    </div>
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">Updating every</dt>
      <dd class="stat-value text-base font-medium">
        <select class="select select-xs bg-transparent text-base border-none -ml-2"
                name="update_interval"
                hx-post="{% url 'htmx:update-preferences' namespace='argus_htmx' %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-indicator="#incident-list .htmx-indicator"
                autocomplete="off">
          {% for interval in preferences_choices.argus_htmx.update_interval %}
            <option value="{{ interval|default:'never' }}"
                    {% if interval == preferences.argus_htmx.update_interval %}selected{% endif %}>
              {{ interval|update_interval_string }}
            </option>
          {% endfor %}
        </select>
      </dd>
    </div>
    <div class="stat py-2">
      <dt class="stat-title text-inherit/80">Timeframe</dt>
      <dd class="stat-value text-base font-medium">
        {{ timeframe_form.timeframe }}
      </dd>
    </div>
  </dl>
</div>
