<fieldset class="fieldset w-full max-w-xs">
  <label class="block label pt-0 pb-0.5 label" for="filter">Filter</label>
  <select class="select select-sm join-item w-full max-w-xs"
          id="incident-filter-select"
          name="filter"
          hx-get="{% url 'htmx:select-filter' %}"
          hx-target="#incident-filter-box"
          hx-swap="outerHTML"
          hx-on::after-swap="htmx.trigger('#filter-selector-form', 'unselect')">
    <option {% if not request.session.selected_filter %}selected{% endif %}
            value="">---</option>
    {% for object in object_list %}
      <option value="{{ object.id }}"
              {% if request.session.selected_filter == object.id|stringformat:"i" %}selected{% endif %}>
        {{ object.name }}
      </option>
    {% endfor %}
  </select>
  <label class="block label pb-0 pt-0.5 truncate">Select from your filters</label>
</fieldset>
