<label class="flex items-center w-full max-w-xs">
  <span class="block label">
    <span class="label-text">Filter</span>
  </span>
  <select class="select select-bordered select-sm w-full max-w-xs"
          id="incident-filter-select"
          name="filter"
          hx-get="{% url 'htmx:select-filter' %}"
          hx-target="#incident-filter-box"
          hx-swap="outerHTML"
          hx-on::after-swap="htmx.trigger('#filter-selector-form', 'unselect')">
    <option {% if not request.session.selected_filter %}selected{% endif %}
            value="">---</option>
    {% for object in object_list %}
      <option value="{{ object.id }}"
              {% if request.session.selected_filter == object.id|stringformat:"i" %}selected{% endif %}>
        {% if object.label %}
          {{ object.label }}
        {% else %}
          {{ object.name }}
        {% endif %}
      </option>
    {% endfor %}
  </select>
</label>
