{% extends "htmx/base.html" %}
{% load argus_htmx %}
{% block main %}
  <div class="flex flex-col items-center gap-4 m-4">
    {% block incident_detail %}
      <h1 class="text-xl font-bold text-center">{{ incident.pk }}: {{ incident.description }}</h1>
      <div class="flex gap-4 justify-center">
        <section id="incident-detail"
                 class="flex flex-col gap-4 basis-1/4 shrink-0 max-w-[30%]">
          <section id="level" class="card shadow-md">
            <h2 class="card-title pl-8">Level</h2>
            <p class="card-body">{{ incident.level }}</p>
          </section>
          <section id="status" class="card shadow-md">
            <h2 class="card-title pl-8">Status</h2>
            <p class="card-body flex-row flex-wrap gap-0.5">
              {% if incident.open %}
                <span class="badge badge-error">Open</span>
              {% else %}
                <span class="badge badge-success">Closed</span>
              {% endif %}
              {% if incident.acked %}
                <span class="badge badge-success">Acknowledged</span>
              {% else %}
                <span class="badge badge-error">Unacknowledged</span>
              {% endif %}
              {% if incident.ticket_url %}
                <span class="badge badge-success h-auto text-wrap break-all text-center"><a href="{{ incident.ticket_url }}" target="_blank">Ticket {{ incident.ticket_url }}</a></span>
              {% else %}
                <span class="badge badge-error">No ticket</span>
              {% endif %}
            </p>
          </section>
          <section id="tags" class="card shadow-md">
            <h2 class="card-title pl-8">Tags</h2>
            <p class="card-body flex-row flex-wrap gap-0.5">
              {% for tag in incident.deprecated_tags %}
                <span class="badge badge-neutral-content badge-outline  h-auto text-wrap break-all text-center text-xs">
                  {# djlint:off #}
                  {{ tag.key }}{{ tag.TAG_DELIMITER }}{% if tag.value|is_valid_url %}<a href="{{ tag.value }}" target="_blank" rel="noreferrer">{{ tag.value }}</a>{% else %}{{ tag.value }}{% endif %}
                  {# djlint:on #}
                </span>
              {% endfor %}
            </p>
          </section>
          <section id="primary-details" class="card shadow-md">
            <h2 class="card-title pl-8">Primary details (#{{ incident.pk }})</h2>
            <div class="card-body">
              <section>
                <h3 class="font-bold">Description</h3>
                <p class="whitespace-pre-line break-all">{{ incident.description }}</p>
              </section>
              {% if incident.stateful %}
                <section>
                  <h3 class="font-bold">Start time</h3>
                  <p>
                    <time datetime="{{ incident.start_time|date:"c" }}">{{ incident.start_time|date:preferences.argus_htmx.datetime_format }}</time>
                  </p>
                </section>
                {% if incident.open %}
                  <section>
                    <h3 class="font-bold">End time</h3>
                    <p>—</p>
                  </section>
                  <section>
                    <h3 class="font-bold">Current duration</h3>
                    <p>{{ incident.start_time|timesince }}</p>
                  </section>
                {% else %}
                  <section>
                    <h3 class="font-bold">End time</h3>
                    <p>
                      <time datetime="{{ incident.end_time|date:"c" }}">{{ incident.end_time|date:preferences.argus_htmx.datetime_format }}</time>
                    </p>
                  </section>
                  <section>
                    <h3 class="font-bold">Total duration</h3>
                    <p>{{ incident.start_time|timesince:incident.end_time }}</p>
                  </section>
                {% endif %}
              {% else %}
                <section>
                  <h3 class="font-bold">Timestamp</h3>
                  <p>
                    <time datetime="{{ incident.start_time }}">{{ incident.start_time|date:preferences.argus_htmx.datetime_format }}</time>
                  </p>
                </section>
              {% endif %}
              <section>
                <h3 class="font-bold">Source</h3>
                <p>{{ incident.source.name }}</p>
              </section>
              <section>
                <h3 class="font-bold">Incident id in {{ incident.source.name }}</h3>
                <p>{{ incident.source_incident_id|default:"—" }}</p>
              </section>
              <section>
                <h3 class="font-bold">More details at</h3>
                <p>
                  {% if incident.details_url %}
                    <a class="text-wrap break-words" href="{{ incident.pp_details_url }}">{{ incident.pp_details_url }}</a>
                  {% else %}
                    —
                  {% endif %}
                </p>
              </section>
              <section>
                <h3 class="font-bold">Ticket</h3>
                <div class="flex flex-col gap-2">
                  <div>
                    {% if incident.ticket_url %}
                      <a class="link" href="{{ incident.ticket_url }}" target="_blank">{{ incident.ticket_url }}</a>
                    {% else %}
                      —
                    {% endif %}
                  </div>
                  <div class="flex flex-row gap-2">
                    {% if incident.ticket_url %}
                      {% include "htmx/incident/_incident_ticket_edit_modal.html" with action="update-ticket" dialog_id="edit-ticket-dialog" button_title="Edit ticket URL" header="Edit ticket" explanation="" cancel_text="Cancel" submit_text="Edit ticket" %}
                    {% else %}
                      {% include "htmx/incident/_incident_ticket_manual_create_modal.html" with action="add-ticket" dialog_id="manual-create-ticket-dialog" button_title="Add ticket URL" header="Manually add ticket URL" explanation="" cancel_text="Cancel" submit_text="Add ticket" %}
                      {% if autocreate_ticket %}
                        {% include "htmx/incident/_incident_ticket_autocreate_modal.html" with action="autocreate-ticket" dialog_id="auto-create-ticket-dialog" button_title="Create ticket" header="Automatically create ticket" explanation="Are you sure you want to automatically generate a ticket from this incident?" cancel_text="Cancel" submit_text="Create ticket" %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </section>
            </div>
          </section>
        </section>
        <section id="acknowledgements"
                 class="flex flex-col basis-1/4 max-w-[30%] card shadow-md">
          <div class="basis-0 grow overflow-y-scroll">
            <h2 class="card-title pl-8 sticky top-0">Acknowledgements</h2>
            <div class="card-body gap-4 grow-0">
              <div class="card-actions grow-0 sticky top-10">
                {% include "htmx/incident/_incident_acknowledge_modal.html" with action="ack" dialog_id="create-acknowledgment-dialog" button_title="Create acknowledgment" header="Submit acknowledgment" explanation="Write a message describing why this incident was acknowledged" cancel_text="Cancel" submit_text="Submit" %}
              </div>
              {% for ack in incident.acks %}
                <div class="px-2 space-y-2">
                  <p class="whitespace-pre-line break-all">{{ ack.event.description }}</p>
                  <p>
                    {{ ack.event.actor }}
                    @
                    {{ ack.event.timestamp|date:preferences.argus_htmx.datetime_format }}
                  </p>
                  {% if ack.expiration %}<p>Expires: {{ ack.expiration|date:preferences.argus_htmx.datetime_format }}</p>{% endif %}
                </div>
                {% if not forloop.last %}<hr />{% endif %}
              {% endfor %}
            </div>
          </div>
        </section>
        <section id="events"
                 class="flex flex-col basis-1/4 max-w-[30%] card shadow-md">
          <div class="basis-0 grow overflow-y-scroll">
            <h2 class="card-title pl-8 sticky top-0">Related events</h2>
            <div class="gap-4 card-body flex-none">
              <div class="card-actions grow-0 sticky top-10">
                {% if incident.stateful %}
                  {% if incident.open %}
                    {% include "htmx/incident/_incident_close_modal.html" with action="close" dialog_id="close-incident-dialog" button_title="Close incident" header="Manually close incident" explanation="Write a message describing why the incident was manually closed" cancel_text="Cancel" submit_text="Close now" %}
                  {% else %}
                    {% include "htmx/incident/_incident_reopen_modal.html" with action="reopen" dialog_id="reopen-incident-dialog" button_title="Reopen incident" header="Manually reopen incident" explanation="Write a message describing why the incident was manually reopend" cancel_text="Cancel" submit_text="Reopen now" %}
                  {% endif %}
                {% endif %}
              </div>
              {% for event in incident.events.all %}
                {% if not event.ack %}
                  <div class="px-2 space-y-2">
                    <p>
                      <strong>{{ event.get_type_display }}</strong>
                    </p>
                    <p class="whitespace-pre-line break-all">{{ event.description }}</p>
                    <p>
                      {{ event.actor }}
                      @
                      {{ event.timestamp|date:preferences.argus_htmx.datetime_format }}
                    </p>
                  </div>
                  {% if not forloop.last %}<hr />{% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    {% endblock incident_detail %}
  </div>
{% endblock main %}
