{% load widget_tweaks %}
<section class="card-body max-w-4xl w-full">
  <form method="post"
        action="{% if form.instance.pk %}{% url "htmx:timeslot-update" pk=form.instance.pk %}{% else %}{% url "htmx:timeslot-create" %}{% endif %}">
    {% csrf_token %}
    <div class="flex flex-col gap-4 w-full">
      <div class="flex gap-16 justify-between">
        <div>
          {% with form.name as field %}
            {% include "htmx/forms/input_field.html" with label=field.label max_width="md" field=field %}
          {% endwith %}
        </div>
        <div class="card-actions flex items-end">
          {% if form.instance.pk %}
            <input type="submit" class="btn btn-primary" value="Save">
            {% include form.modal.template_name with modal=form.modal %}
          {% else %}
            <input type="submit" class="btn btn-primary" value="Create">
          {% endif %}
        </div>
      </div>
      <div class="flex flex-col gap-4">{{ formset.as_div }}</div>
    </div>
  </form>
</section>
