{% extends "./base.html" %}
{% block tab_action %}
  <button hx-get="{% url 'htmx:timeslot-create' %}"
          hx-target="#timeslot-create"
          hx-swap="outerHTML"
          class="btn btn-primary">New timeslot</button>
{% endblock tab_action %}
{% block timeslot_main %}
  <div>
    <div id="timeslot-create"></div>
    {% for timeslot in object_list %}
      {% include "./_timeslot_card.html" %}
    {% empty %}
      <p class="text-center text-base-content/60">No timeslots yet</p>
    {% endfor %}
  </div>
{% endblock timeslot_main %}
