<!-- htmx/incident/cells/_incident_tags.html -->
{% load argus_htmx %}
<div class="flex gap-1 flex-wrap">
  {% for tag in incident.deprecated_tags %}
    <span class="badge badge-xs badge-neutral-content badge-outline  h-auto text-wrap break-all text-center text-xs">
      {# djlint:off #}
      {{ tag.key }}{{ tag.TAG_DELIMITER }}{% if tag.value|is_valid_url %}<a href="{{ tag.value }}" target="_blank" rel="noreferrer">{{ tag.value }}</a>{% else %}{{ tag.value }}{% endif %}
      {# djlint:on #}
    </span>
  {% endfor %}
</div>
