<!-- htmx/incident/cells/_incident_compact_severity_filter.html -->
{% load argus_htmx %}
<div id="{{ column.name }}-dropdown" class="dropdown dropdown-end">
  <button type="button"
          tabindex="0"
          aria-label="Filter by severity"
          aria-controls="{{ column.name }}-dropdown-content"
          class="filter-btn btn btn-xs {% if field.value %} btn-primary {% else %} btn-ghost text-primary {% endif %} min-h-4 h-4">
    <i class="fa-solid fa-magnifying-glass text-xs"></i>
  </button>
  {% include "htmx/incident/cells/_incident_filter_dropdown_body.html" %}
</div>
{% include "htmx/incident/cells/_incident_filter_dropdown_script.html" %}
