{# This confirmation dialog is a special case of the base form modal that needs its own template.
It can be used as one of several confirm dialogs in DOM, for example as an item in HTML list.
In this case the item_id attribute must be provided when extending from this template.
Or it can be used as an existing base modal - not more than one with the matching ID per DOM.
In this case the item_id attribute can be omitted when extending from this template.#}
<button class="{{ item_class|default:"" }}"
        onclick="htmx.find('#{{ dialog_id }}-{{ item_id|default:"" }}').showModal()">{{ item_title }}</button>
<dialog id="{{ dialog_id }}-{{ item_id|default:'' }}" class="modal">
  <div class="modal-box card card-compact shadow-xl loading-box">
    <div class="w-full">
      <div class="divider divider-start">
        <h3 class="card-title">
          {{ action }}
          <p class="italic">{{ item_title|default:"" }}</p>
        </h3>
      </div>
      <p class="antialiased text-base font-normal">{{ confirmation_message }}</p>
      <div class="modal-action card-actions">
        <form method="dialog" class="w-full">
          {% csrf_token %}
          <div class="divider divider-end">
            <button class="btn btn-primary"
                    {% block confirm_action_control %}
                    {% endblock confirm_action_control %}>
              <span>Yes</span>
            </button>
            <button class="btn">No</button>
          </div>
        </form>
      </div>
    </div>
    <div class="htmx-indicator loading loading-spinner text-primary"></div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
