{% extends "htmx_base.html" %}
{% load static %}
{% block header %}
  <header class="bg-neutral text-neutral-content">
    <nav class="navbar">
      <div class="navbar-start">
        {% block logo %}
          <a class="link" href="{% url logo.url|default:'htmx:incident-list' %}">
            <img class="object-scale-down h-14"
                 src="{% static logo.file|default:'logo_white.svg' %}"
                 alt="{{ logo.alt|default:'go to homepage' }}">
          </a>
        {% endblock logo %}
      </div>
      <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
          {% block navlinks %}
            {% comment %}
            <!-- example link -->
            <li>
              <a href="{% url 'htmx:incident-list' %}">Incidents</a>
            </li>
            {% endcomment %}
          {% endblock navlinks %}
        </ul>
      </div>
      <div class="navbar-end">
        {% block userlink %}
          {% if request.user.is_authenticated %}
            <details class="dropdown dropdown-end">
              <summary class="btn btn-base-200 btn-circle avatar placeholder"
                       aria-description="User menu">
                <span aria-hidden="true"
                      class="size-10 rounded-full ring-base-200 ring-offset-primary ring ring-offset-2 text-2xl capitalize leading-9">
                  {{ request.user|make_list|first }}
                </span>
              </summary>
              {% include "htmx/user/_user_menu.html" %}
            </details>
          {% else %}
            <a class="btn" href="{% url 'htmx:login' %}">Log in</a>
          {% endif %}
        {% endblock userlink %}
      </div>
    </nav>
  </header>
{% endblock header %}
