<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <!-- argus/site/templates/base.html -->
  <head>
    <meta name="description"
          content="Argus is a tool for aggregating events from multiple monitoring applications into a single, unified dashboard and notification system.">
    <meta name="keywords"
          content="monitoring, notifications, dashboard, events, incidents, alerts, alarms, monitoring systems, monitoring applications, monitoring tools, monitoring software">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
      <title>Argus Server: {{ page_title }}</title>
    {% endblock title %}
    {% block head %}
    {% endblock head %}
  </head>
  <body {% block body_overrides %}{% endblock body_overrides %}>
    {% block header %}
      <h1>Argus Server: {{ page_title }}</h1>
    {% endblock header %}
    {% block main %}
    {% endblock main %}
    {% block footer %}
    {% endblock footer %}
    {% block tail %}
    {% endblock tail %}
  </body>
</html>
