@plugin "daisyui/theme" {
  name: "argus";
  color-scheme: "light";
  --color-primary: #006d91;
  --color-primary-content: #d6f4fe;
  --color-secondary: #f3b61f;
  --color-secondary-content: #140c00;
  --color-accent: #c84700;
  --color-accent-content: #ffffff;
  --color-neutral: #006d91;
  --color-neutral-content: #d6f4fe;
  --color-base-100: #edfaff;
  --color-base-200: #ced9de;
  --color-base-300: #b0babd;
  --color-base-content: #141516;
  --color-info: #006ad4;
  --color-info-content: #ffffff;
  --color-success: #008700;
  --color-success-content: #ffffff;
  --color-warning: #ee4900;
  --color-warning-content: #140200;
  --color-error: #e5545a;
  --color-error-content: #2c0608;
}
