@plugin "daisyui/theme" {
  name: "sikt";
  color-scheme: "light";
  --color-primary: #7351FB;
  --color-primary-content: #FFFFFF;
  --color-secondary: #150266;
  --color-secondary-content: #FFFFFF;
  --color-accent: #D1CDFF;
  --color-accent-content: #0A0132;
  --color-neutral: #595959;
  --color-neutral-content: #FFFFFF;
  --color-base-100: #FFFFFF;
  --color-base-200: #F1F1F1;
  --color-base-300: #DEDEDE;
  --color-base-content: #0A0132;
  --color-info: #004FCF;
  --color-info-content: #FFFFFF;
  --color-success: #096638;
  --color-success-content: #FFFFFF;
  --color-warning: #FFB700;
  --color-warning-content: #0A0132;
  --color-error: #B60203;
  --color-error-content: #FFFFFF;
}

/* Severity colors from Sikt datavisualization category tokens */
[data-theme="sikt"] {
  --color-severity-primary-1: #FF957A;
  --color-severity-primary-2: #FFAC70;
  --color-severity-primary-3: #FBE774;
  --color-severity-primary-4: #82E3CB;
  --color-severity-primary-5: #75C7F0;
  --color-severity-secondary-1: #0A0132;
  --color-severity-secondary-2: #0A0132;
  --color-severity-secondary-3: #0A0132;
  --color-severity-secondary-4: #0A0132;
  --color-severity-secondary-5: #0A0132;
}
