name: Lint codebase

on:
  push:
    branches: main
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    name: Critical lint Python
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/ruff-action@v1
      with:
        changed-files: 'true'

  djlint:
    runs-on: ubuntu-latest
    name: Lint HTML
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5

    - name: Install dependencies
      run: |
        pip install -U pip
        pip install djlint

    - name: Lint
      run: djlint --lint .
