name: Publish test and coverage results

on:
  workflow_run:
    workflows: ["Test django site"]
    types:
      - completed

jobs:
  publish-test-results:
    name: "Publish test and coverage results"
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion != 'skipped' && github.repository_owner == 'Uninett'

    steps:
      # Checking out the repo is necessary codecov/codecov-action@v4 to work properly
      # Codecov requires source code to process the coverage file and generate coverage
      # reports
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Download and Extract Artifacts
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
           mkdir -p artifacts && cd artifacts

           artifacts_url=${{ github.event.workflow_run.artifacts_url }}

           gh api "$artifacts_url" -q '.artifacts[] | [.name, .archive_download_url] | @tsv' | while read artifact
           do
             IFS=$'\t' read name url <<< "$artifact"
             gh api $url > "$name.zip"
             unzip -d "$name" "$name.zip"
           done

      - name: "Publish test results"
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          commit: ${{ github.event.workflow_run.head_sha }}
          check_name: "Test results"
          files: artifacts/**/*-results.xml

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
