name: Test django site

on:
  push:
    branches: main
  pull_request:
  schedule: # Run daily at 08:00 CEST (06:00 UST)
    - cron: '0 6 * * *'

jobs:
  ruff:
    runs-on: ubuntu-latest
    name: Lint Python
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/ruff-action@v3
      with:
        version: "0.14.13"

  djlint:
    runs-on: ubuntu-latest
    name: Lint HTML
    steps:
    - uses: actions/checkout@v6

    - name: Set up uv
      uses: astral-sh/setup-uv@v6

    - name: Lint HTML
      run: uvx djlint --lint .

  test:
    needs: ruff

    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up uv
      uses: astral-sh/setup-uv@v6

    - name: Set Environment Variables
      run: |
        echo "DJANGO_SETTINGS_MODULE=argus.site.settings.test_CI" >> $GITHUB_ENV
        echo "POSTGRES_DB=argus_db" >> $GITHUB_ENV
        echo "POSTGRES_USER=argus" >> $GITHUB_ENV
        echo "POSTGRES_PASSWORD=password" >> $GITHUB_ENV

    - name: Install dependencies
      run: uv pip install --system "tox>=4" tox-gh-actions tox-uv coverage

    - name: Set up PostgreSQL
      uses: ankane/setup-postgres@v1
      with:
        database: ${{ env.POSTGRES_DB }}
        user: ${{ env.POSTGRES_USER }}

    - name: "Check for Django warnings"
      run: python3 -m tox -e django-warnings
    - name: Run Tests with PostgreSQL
      env:
        DATABASE_URL: "postgresql://${{ env.POSTGRES_USER }}:${{ env.POSTGRES_PASSWORD }}@localhost/${{ env.POSTGRES_DB }}"
      run: |
        python -m tox

    - name: "Combine coverage"
      run: |
        set -xe
        python -m coverage combine
        python -m coverage xml -o test-reports/${{ matrix.python-version }}/coverage.xml

    - name: Upload test reports (${{ matrix.python-version }})
      if: always()
      uses: actions/upload-artifact@v6
      with:
        name: test-reports-${{ matrix.python-version }}
        path: |
          test-reports/**/*


  upload-pr-number-base-sha:
    name: Save PR number and base SHA in artifact
    runs-on: ubuntu-latest
    if: ${{ github.event.number && always() }}
    env:
      PR_NUMBER: ${{ github.event.number }}
      BASE_SHA: ${{ github.event.pull_request.base.sha }}
    steps:
      - name: Make PR number file
        run: |
          mkdir -p ./extra
          echo $PR_NUMBER > ./extra/pr_number
      - name: Make base SHA file
        run: |
          echo $BASE_SHA > ./extra/base_sha
      - name: Upload PR number file and base SHA file
        uses: actions/upload-artifact@v6
        with:
          name: extra
          path: extra/
