name: SonarQube CI
on: push
jobs:
  sonarQubeTrigger:
    name: SonarQube Trigger
    if: github.repository_owner == 'Uninett'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0
    - name: SonarQube Scan
      uses: kitabisa/sonarqube-action@v1.1.0
      with:
        host: ${{ secrets.SONARQUBE_HOST }}
        login: ${{ secrets.SONARQUBE_TOKEN }}
