<!-- htmx/user/_preference_choice_preview_theme.html -->
<div class="flex items-center gap-1 p-1 rounded-sm bg-transparent"
     data-theme="{{ current_theme }}">
  {% for color_class in theme_colors %}
    <div class="tooltip tooltip-left" data-tip="{{ color_class|slice:"3:" }}">
      <div class="flex items-center justify-center h-5 w-5 rounded-sm border-1 border-base-300 {{ color_class }} {% if 'base' in color_class %}text-base-content{% else %}text-{{ color_class|slice:"3:" }}-content{% endif %}">
        T
      </div>
    </div>
  {% endfor %}
</div>
