<ul class="z-20 menu menu-md dropdown-content bg-base-200 text-base-content rounded-box mt-3 w-52 p-2 shadow max-h-svh overflow-x-hidden">
  <li class="menu-title">
    Logged in as: <span class="text-info">{{ request.user }}</span>
    <div class="divider divider-secondary my-0 pointer-events-none"></div>
  </li>
  {% block items %}
    <li>
      <a href="{% url 'htmx:user-preferences' %}">User preferences</a>
    </li>
    {% block notification_links %}
      {% include "htmx/user/_user_menu_notification_config.html" %}
    {% endblock notification_links %}
    <li>
      <a href="{% url 'htmx:plannedmaintenance-list' %}">Planned Maintenance</a>
    </li>
    {% if request.user.is_staff %}
      <li>
        <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
      </li>
    {% endif %}
    <li class="menu-title menu-divider" aria-hidden="true">
      <div class="divider divider-secondary my-0"></div>
    </li>
    <li>{% include "htmx/user/_user_menu_logout.html" %}</li>
  {% endblock items %}
  <li class="menu-title menu-divider" aria-hidden="true">
    <div class="divider divider-secondary my-0"></div>
  </li>
  <li aria-hidden="true" class="pointer-events-none h-0 p-0 m-0"></li>
  <div class="text-xs grid grid-cols-[1fr_auto] gap-2 px-3 py-1.5">
    <div class="space-y-2 text-left overflow-hidden select-text">
      <span>Argus version:</span>
      <span class="block truncate">{{ short_version }}</span>
    </div>
    <button class="btn btn-ghost btn-xs pointer-events-auto"
            aria-label="Copy Argus version to clipboard"
            title="Copy version to clipboard"
            onclick="navigator.clipboard.writeText('{{ version }}')">
      <i class="fa-solid fa-copy"></i>
    </button>
  </div>
</ul>
