<ul class="menu menu-md dropdown-content bg-base-200 text-base-content rounded-box z-[1] mt-3 w-52 p-2 shadow max-h-svh">
  <li class="menu-title">
    Logged in as: <span class="text-info">{{ request.user }}</span>
    <div class="divider divider-secondary my-0 pointer-events-none"></div>
  </li>
  {% block items %}
    {% block user_preferences_links %}
      {% include "htmx/user/_user_menu_user_preferences.html" %}
    {% endblock user_preferences_links %}
    {% block notification_links %}
      {% include "htmx/user/_user_menu_notification_config.html" %}
    {% endblock notification_links %}
    {% if request.user.is_staff %}
      <li>
        <a href="{% url 'admin:index' %}" target="_blank">Admin</a>
      </li>
    {% endif %}
    <li>
      <div class="divider divider-secondary pl-2 pr-4 my-0 pointer-events-none"></div>
      {% include "htmx/user/_user_menu_logout.html" %}
    </li>
  {% endblock items %}
</ul>
