{% extends "htmx/base.html" %}
{% block main %}
  <div class="m-4 max-w-screen-lg">
    <h1 class="sr-only">{{ page_title }}</h1>
    <section id="user-settings" class="card">
      <h2 class="card-title">User preferences</h2>
      <div class="card-body px-0">
        <div class="menu-title">
          Logged in as: <span class="text-info">{{ request.user }}</span>
          <div class="divider divider-secondary my-0"></div>
        </div>
        {% include "./_preferences_form.html" %}
      </div>
    </section>
  </div>
{% endblock main %}
